@import '../../assets/styles/variables.scss';

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  align-self: center;
  .form-input {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 40px;
    .form-label {
      font-size: 12px;
      margin-top: 20px;
    }
    input{
      height: 30px;
      padding: 0 5px;
    }
    .submit-btn {
      cursor: pointer;
      margin-top: 20px;
      font-weight: bold;
      letter-spacing: .5px;
      background-color: $primary-color;
      color: white;
      border-radius: 6px;
      align-self: flex-end;
      padding: 10px 20px;
      &:hover{
        background-color: $primary-alt;
      }
    }
  }
  .display-new-image {
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    img {
      height: 250px;
      width: 200px;
      object-fit: cover;
      border-radius: 6px;
    }
  }
}


// @media only screen and (max-width: 768px) {