@import '../../assets/styles/variables.scss';

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  align-self: center;
  min-height: 350px;
  .form-input {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 40px;
    .form-label {
      font-size: 12px;
      margin-top: 20px;
    }
    input{
      height: 30px;
      padding: 0 5px;
    }
    .submit-btn {
      cursor: pointer;
      margin-top: 20px;
      font-weight: bold;
      letter-spacing: .5px;
      background-color: $secondary-color;
      color: white;
      border-radius: 6px;
      align-self: flex-end;
      padding: 10px 20px;
      &:hover{
        background-color: $primary-color;
      }
    }
  }
  .display-new-image {
    margin-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 250px;
      width: 200px;
      object-fit: cover;
      border-radius: 6px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .form {
    flex-direction: column;
    .form-input {
      width: 100%
    }
    .display-new-image {
      align-items: center;
      width: 100%;
    }
  }
}