@import '../../assets/styles/variables.scss';

.gallery {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  .header-wrapper {
    text-align: center;
    h3 {
      color: $primary-color;
    }
    h5 {
      color: $secondary-color;
    }
  }
  ul {
    width: 87%;
    display: flex;
    align-self: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    .recipe-item {
      position: relative;
      display: inline-block;
      .recipeName {
        visibility: hidden;
        height: 250px;
        width: 200px;
        border-radius: 6px;
        text-align: center;
        margin: 10px;
        border-radius: 6px;
        position: absolute;
        transition: 0.3s;
          p {
            visibility: hidden;
            font-size: 16px;
            font-weight: bold;
            margin: 48% 0 0 0;
            width: 100%;
            padding: 20px 0;
          }
      }
      img {
        height: 250px;
        width: 200px;
        object-fit: cover;
        border-radius: 6px;
        margin: 10px;
      }
    }
    .recipe-item:hover .recipeName {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.5);
      p {
        visibility: visible;
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}