@import '../variables.scss';

.gallery {
  text-align: center;
  h2 {
    color: $brand-primary;
  }
  p {
    color: $brand-secondary;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 810px;
    margin: 0 auto;
    padding: 0;
    li {
      margin: 10px;
      color: green;
      font-weight: bold;
      align-self: flex-end;
      img {
        @include image-display(none);
      }
    }
  }
}

@media only screen and (max-width: 545px) {
  .gallery ul {
    justify-content: space-evenly;
  }
}